<%- include('partials/header', { title: 'New User Selection' }) %>
<body>
    <div class="homepageTitle">
        <h1>Homepage, stuff will go here like account info, scenario, dungeons, other options</h1>
    </div>
</body>