<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="titleName">The Marauders's Quest</div>
    <div class="authenticationContainer">
            <div class="authenticationFormContainer">
            <h1>Login</h1>
            <form action="" method="POST" id="loginForm">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit" id="loginButton" onclick="login(event)">Login</button>
            </form>
            <p>No account? Please <a href="/auth/register">Register</a></p>
        </div>
    </div>
<script src="/js/auth.js"></script>
</body>
</html>