body {
    font-family: Arial, sans-serif;
    background: linear-gradient(112.5deg, rgb(201,198,198) 0%, rgb(201,198,198) 10%,rgb(180,178,178) 10%, rgb(180,178,178) 53%,rgb(155,153,153) 53%, rgb(155,153,153) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(139,135,135) 60%, rgb(139,135,135) 88%,rgb(81,81,81) 88%, rgb(81,81,81) 91%,rgb(81,81,81) 91%, rgb(81,81,81) 100%),linear-gradient(157.5deg, rgb(201,198,198) 0%, rgb(201,198,198) 10%,rgb(180,178,178) 10%, rgb(180,178,178) 53%,rgb(155,153,153) 53%, rgb(155,153,153) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(139,135,135) 60%, rgb(139,135,135) 88%,rgb(81,81,81) 88%, rgb(81,81,81) 91%,rgb(81,81,81) 91%, rgb(81,81,81) 100%),linear-gradient(135deg, rgb(201,198,198) 0%, rgb(201,198,198) 10%,rgb(180,178,178) 10%, rgb(180,178,178) 53%,rgb(155,153,153) 53%, rgb(155,153,153) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(139,135,135) 60%, rgb(139,135,135) 88%,rgb(81,81,81) 88%, rgb(81,81,81) 91%,rgb(81,81,81) 91%, rgb(81,81,81) 100%),linear-gradient(90deg, rgb(180,178,178),rgb(228, 228, 228));
    background-blend-mode: overlay,overlay,overlay,normal;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.authenticationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    top:22%;
    left:25%;
    width: 50%;
    position: absolute;
    

}

.titleName {
    font-size: 75px;
    font-family: cursive;
    text-align: center;
    padding-top: 40px;
    letter-spacing: 7px;
}

.authenticationFormContainer {
    display: flex;
    top: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    border:#333 1px solid;
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
}

.authenticationSubmit {
    display: flex;
    justify-content: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 1vh 2vh;
    height: 4vh;
}

.header-left h1 {
    margin: 0;
    font-family: cursive;
}

.header-right {
    display: flex;
    align-items: center;
}

.level {
    margin-right: 10px;
    font-size: 15px;
}

.userClass {
    margin-right: 10px;
    font-size: 15px;

}

.header-right .username {
    margin-right: 10px;
}

.logout-form {
    margin: 0;
}
button {
    padding: 5px 20px;
    background-color: #3d3d3d;
    color: white;
    border: none;
    cursor: pointer;
}

.logout-button {
    background-color: #bababa;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #d32f2f;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

#newUserSelection {
    width: 70%;
} 

.classButton {
    margin: 10px 10px;
    padding: 10px 25px;
}

/*
    Battle
*/

.battleContainerStatusInfo {
    margin-top: 3%;

}
.usernameBattleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
}

.usernameBattleContainerUser {
    display: flex;
    align-items: baseline;
    margin-left: 10%;
}

#battleUserUsername {
    margin-right: 25px;

}

.usernameBattleContainerEnemy {
    display: flex;
    align-items: baseline;
    margin-right: 10%;
}

#battleEnemyUsername {
    margin-left: 25px;
    
}

#battleUserLevel, #battleEnemyLevel {
    font-size: 15px;
}

#battleUserUsername, #battleEnemyUsername {
    font-size: 25px;
}

.healthContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.healthBar{
    display: flex;
    align-items: baseline;
    width: 35%;
    height: 20px;
    border:#333 1px solid;
    border-radius: 2px;
}

#userHealthBar {
    position: relative;
    margin-left: 10%;
}

#enemyHealthBar {
    position: relative;
    margin-right: 10%;
}

.healthBarFillUser{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 100%;
    background: red;
    transition: width 1s;
}

.healthBarFillMonster{
    display: flex;
    align-items: baseline;
    width: 100%;
    height: 100%;
    background: red;
    transition: width 1s;
}


#battleEnemyHealthPoints {
    position: absolute;
    right: 5px;
}

#battleUserHealthPoints {
    position: absolute;
    left: 5px;
}

#userImage {
    height: 300px;
    width:200px;
}

.img {
    height: 200px;
    width: 300px;
}

.battleContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 5%;

}

.battleImages {
    display: flex;
    justify-content: space-between; 
    width:55%;
}

img {
    height: 250px;
}

#userImage, #enemyImage {
    width: 200px; 
    height: 250px; 
    margin-bottom: 10px; 
}

.battleSelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:3%;
}

#move1, #move2, #move3, #move4 {
    margin: 15px 45px 15px 45px;
    height: 80px;
    width: 260px;
    background-color: rgb(104, 104, 104);
    border-radius: 5px; 
}

#move1:hover, #move2:hover, #move3:hover, #move4:hover {
    background-color: rgb(34, 34, 34);
}

.battleLogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 50%;
    background-color: #f0f0f0; 
    padding: 40px 100px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#battleDialog {
    height: 15%;
}

/* 
    This is styling for the maps 
*/

#map {
    display: inline-block;
    width: 100%;
    height: 94vh;
    margin:0;
    padding:0;
}

.map-row {
    display: flex;
    width: 100%;
}

.map-tile {
    width: 10%;
    height: 9.255vh;
    border: 0.5px grey dotted;
    text-align: center;
}

.userPos {
    align-items: center;
    justify-content: center;
    display: flex;
}

.playerImg {
    height:100%;
    width:100%;
}

/*
    Homepage
*/
.homepageContainer {
    height: 100%;
    width: 100%;
    display:flex;
}

.homepageTopContainer {
    display:flex;
    height: 50%;
    width: 100%
}

.homepageContainerRight {
    display: flex;
    flex: 2;
    flex-direction: column;
    height: 100%;
}

.homepageContainerLeft {
    display:flex;
    flex-direction: column;
    height: 100%;
    flex:1;
}

.homepageAccountPanel {
    display:flex;
    flex:0.5;
    margin: 0.5% 0.5% 0.5% 0.5%;
    background-color: lightgray;
    font-size: 30px;
    font-family: cursive;
    letter-spacing: 7px;
    font-weight: 900;
    border-width: 5px;
    border-color: black;
    border-style: double;
    flex-direction: column;
}

.homepageEditAccount {
    display: flex;
    flex: 0.1;
    border: 1px black solid;
    margin: 0.5%;
    background-color: lightgray;
}

.homepageAccountPanelExp {
    display:flex;
    width: 100%;
}

.xpBox {
    border: 1px black solid;
    box-shadow: 0 2px 2px 0 black;
    margin: 0 5px 0 5px;  
    font-size: 20px; 
    align-items: center;
    height:100%;
    width: 80%
}

.xpBoxFill {
    background-color: beige;
    margin:0;
    height: 100%;
    width:75%;
}

#xpBoxText {
    margin:0 0 0 5%; 
}

.userStatsPanel {
    display: flex;
    flex:0.47;
    border: 1px black solid;
    margin: 0.5%; 
    background-color: lightgray;
    align-items: center;
    justify-items: center;
}

.statsPanelLeft {
    display: flex;
    height: 100%;
    width: 50%;

}

.statsPanelRight {
    display: flex;
    height:100%;
    width: 50%;

}

.userStats {

}

.homepageLogoutPanel {
    display: flex;
    flex: 0.1;
    margin: 0.5%;
    background-color: rgb(246, 160, 160);
}

.exploreContainer {
    border: 1px black solid;
    flex:1;
    margin: 1% 5% 1% 5%;
}

.pendingContainer {
    flex:1;
    margin: 1% 5% 1% 5%;
}

.dungeonContainer {
    border: 1px black solid;
    flex:1;
    margin: 1% 5% 1% 5%;
    background-image: url('../images/dungeonBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.75);
    background-blend-mode: lighten;
}

.exploreContainer {
    border: 1px black solid;
    flex:1;
    margin: 1% 5% 1% 5%;
    background-image: url('../images/exploreBackground.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.75);
    background-blend-mode: lighten;
}

.pendingContainer {
    border: 1px black solid;
    flex:1;
    margin: 1% 5% 1% 5%;
    background-image: url('../images/underConstruction.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
}

.homepageText {
    opacity: 1;
    color: black;
}

.homepageAccountText {
    margin-left: 5px;
    margin-top: 50px;
}

#homepageLogoutText {
    font-size: 20px;
}

#userStatsTextLeft, #userStatsTextRight {
    font-size: 22px;
}

#userStatsTextLeft {
    margin-left: 5px;
}

#userStatsTextRight {

}

.dungeonContainer, .exploreContainer, .pendingContainer, .homepageEditAccount, .userStatsPanel, .homepageLogoutPanel {
    border-width: 5px;
    border-color: black;
    border-style: double;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
    font-family: cursive;
    letter-spacing: 7px;
    font-weight: 900;
}